/* .toast-container {
  animation: slide-in 0.5s forwards;
} */
/* animate-[slide-in_0.5s_forwards] */
/* animate-[slide-out_0.5s_forwards] */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
